<!DOCTYPE html>
<html>

<p> This is a reminder to add your agenda items for the following meeting: </p>
<%= @meeting.title %> on <%= @meeting.date %>

<p> You can do this at the following link: <%= @url %>
  
<p> Thank you. </p>

</html>